.wmd-replygif-button:before {
  content: "\f01d"
}

.replygif-modal {
  .replygif-content {
    max-height: 335px;
    min-height: 200px;
    overflow-y: scroll;
    clear: both;
  }

  .ac-wrap {
    display: inline-block;
    width: 100%;
  }

  input.autocomplete {
    width: 40%;
  }

  div.categories {
    float: left;
    width: 50%;

    .combobox {
      width: 95%;
    }
  }

  div.tags {
    float: left;
    width: 50%;

    .ac-wrap {
      width: 95% !important;
    }
  }

  .replygif-box {

    column-width: 30%;
    column-count: 3;
    column-gap: 3px;

    -webkit-column-width: 30%;
    -webkit-column-count: 3;
    -webkit-column-gap: 3px;

    -moz-column-width: 30%;
    -moz-column-count: 3;
    -moz-column-gap: 3px;

    .replygif-imgwrap {
      margin-bottom: 3px;
      text-align: center;
    }

    .replygif-img {
      width: 100%;
    }

    .replygif-img.selected {
      border: 1px solid $tertiary;
    }
  }
}