
.replygif-modal {

    .replygif-wrap {
        max-height: 350px;
        min-height: 200px;
        overflow-y: scroll;
        clear: both;
    }

    .ac-wrap {
        display: inline-block;
    }

    input.autocomplete {
      width: 40%;
    }

    div.combobox {
      float: left;
      width: 225px;
    }

    div.tags {
      float: left;
      width: 210px;
    }

    // on-off-switch for locator
    .onoffswitch {
      position: relative;
      width: 94px;
      float: right;
      -webkit-user-select:none;
      -moz-user-select:none;
      -ms-user-select: none;
    }
    .onoffswitch-label {
      display: block; overflow: hidden; cursor: pointer;
      border: 2px solid #84ACC3; border-radius: 22px;
    }
    .onoffswitch-inner {
      width: 200%; margin-left: -100%;
      -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
      -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
      float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
      font-size: 9px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
      -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    .onoffswitch-inner:before {
      content: "Autoanim";
      padding-left: 10px;
      background-color: #085987; color: #FFFFFF;
    }
    .onoffswitch-inner:after {
      content: "Pick anim";
      padding-right: 10px;
      background-color: #EEEEEE; color: #A69999;
      text-align: right;
    }
    .onoffswitch-switch {
      width: 9px;
      margin: 6px;
      background: #FFFFFF;
      border: 2px solid #84ACC3;
      border-radius: 10px;
      position: absolute; top: 0; bottom: 0; right: 70px;
      -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
      -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
    }
    .onoffswitch.checked .onoffswitch-label .onoffswitch-inner {
      margin-left: 0;
    }
    .onoffswitch.checked .onoffswitch-label .onoffswitch-switch {
      right: 0px;
    }

    .replygif-box {

        column-width: 30%;
        column-count: 3;
        column-gap: 3px;

        -webkit-column-width: 30%;
        -webkit-column-count: 3;
        -webkit-column-gap: 3px;

        -moz-column-width: 30%;
        -moz-column-count: 3;
        -moz-column-gap: 3px;

        .replygif-imgwrap {
            margin-bottom: 3px;
            text-align: center;
        }

        .replygif-imgwrap button {
            width: 100%
        }

        .replygif-img {
            width: 100%;
        }
    }
}